@import '../../variables.scss';
@import '../../helpers.scss';

.calculator {
  text-align: center;
  padding: 60px $base-padding 40px;
  max-width: 1052px;
  margin: 0 auto;

  .headline {
    margin-bottom: 1em;
  }

  input {
    width: 225px;
    max-width: 100%;
    line-height: 70px;
    border-radius: 15px;
    padding: 0 $base-padding;
    text-align: center;
    color: $gray-form;

    &:focus, &:active {
      box-shadow: $input-calculator-shadow;
    }
  }

  .form {
    display: flex;
    flex-direction: column;
    gap: $base-padding;
    font-weight: 900;
    margin-top: 60px;

    &:focus-within, &:active {
      .result {
        color: $orange;
        opacity: 1;
      }

      input {
        border-color: $orange;
        color: $black;
      }

      .input-wrapper {
        color: $black;
      }
    }
  }

  .input-block, .result-block {
    border-radius: 15px;
    padding: $base-padding;
    flex: 1;
    min-height: 240px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-evenly;
  }

  .input-block {
    background-color: $gray-background;
  }

  .input-wrapper {
    max-width: 100%;
    position: relative;
    color: $gray-form;
  }

  .result-block {
    background-color: $black;
    color: white;

    .result {
      font-size: 28px;
      line-height: 32px;
      opacity: 0.5;
      padding: 0 $base-padding;
    }
  }
}

@include query-medium-up {
  .calculator {
    .form {
      flex-direction: row;
      flex-wrap: wrap;
    }

    .result-block {
      flex: 0 0 100%;
      min-height: 127px;
      flex-direction: row;
      justify-content: center;
    }

    .input-block {
      min-height: 260px;
    }

    .cost {
      padding-right: 46%;
      text-align: right;
    }

    .input-wrapper {
      &::before {
        content: 'zł';
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: 56%;
        font-weight: 400;
        font-size: 1rem;
        padding-bottom: 0.8px;
      }
    }
  }
}